Hello {{ user.get_full_name|default:user.username }},

You recently requested to reset the password for your SIET Helpdesk account (Username: {{ user.username }}).

Please click the link below to set a new password:

{{ reset_link }}

This password reset link is valid for 24 hours. Once set, your new password will be automatically updated in the system database and you can log in immediately.

If you did not request this password reset, please contact the SIET IT administration.

Regards,
{{ site_name|default:'SIET Helpdesk' }} Administration
